
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#output-text {
  margin: 0 0.5em 0 0.5em;
  height: 100%;
  white-space: pre-wrap;
  overflow: scroll;
}

#summary {
  float: left;
}

#notes {
  float: right;
  width: 120px;
  text-align: right;
}

footer {
  margin-top: 0.5em;
}
