
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: normal;
  line-height: 0.7em;
  margin: 15px;
}

p {
  color: #333;
}

#container {
  width: 200px;
  height: 200px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: scroll;
  overflow-x:scroll; 
  overflow-y: scroll; 
  padding-bottom:10px;
}

#text {
  font-size: 12pt;
  text-align: left;
  margin-top: 140px;
}
